header {
    background-color: #f37420;   
}

header > .container {
    min-height: 64px;
}

section nav {
    background-color: #ededed;
    padding: 2rem;
}

footer {
    background-color: #454545;
    padding: 2rem;
    color: #ffffff;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

@media (min-width: 576px) {
    section .row nav {
        height: calc(100vh - 236.75px);
    }
}