/* mobile (default(mobile first)) */
body {
    background-color: #f37520;
}

header {
    margin: 2vh auto;
}

header, nav, main {
    background-color: #FFF;
    min-height: 10vh;
}

nav, main {
    min-height: 82vh;
}

/* o css acima já vale para todos os tamanhos de tela
os que estão abaixo sobrescrevem ele para cada tamanho
de tela especificado */

/* tablet */
@media (min-width: 576px) { 

}

/* laptop */
@media (min-width: 768px) { 

}

/* laptop large */
@media (min-width: 992px) { 

}

/* large screens */
@media (min-width: 1200px) {

}